@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 100%;
	height: 100%;
	width: 100%;
	font-family: 'Georgia', serif;
	min-width: 1000px;
	min-height: 550px;
}
h1 {	/* Banner: "Samantha Yu" */
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 350%;
	font-family: 'Great Vibes', cursive;
	color: #FFFFFF;
}
h2 {	/* Banner: "Dogwood Portfolio" */
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 125%;
	font-family: 'Georgia', serif;
	color: #3EC7C5;
}
h3 {	/* Banner: Menu items */
	padding: 0;
	margin: 0;
	font-family: 'Georgia', serif;
	font-size: 250%;
	color: #FFFFFF;
}
h4 {	/* Sidebar Headings*/
	padding: 0;
	margin: 0;
	font-family: 'Georgia', serif;
	font-size: 120%;
	color: #FFFFFF;
	font-weight: bold;
}
h5 {	/* Page headings; eg "Paint Program"; "Colours" */
	padding: 0;
	margin: 0;
	font-family: 'Georgia', serif;
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
	color: #000000;
	text-align: center;
}
hr {
	border: 2px #FFFFFF solid;
}
div {
	margin: 0;
	padding: 0;
}
p {
	padding-top: 0;
	margin: 0;
	font-family: 'Georgia', serif;
	font-size: 100%;
	color: #000000;
}
a {
	color: #FFFFFF;
}
a:hover {
	color: #96F04F;
}
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.menuButton {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: -50px 15px 5px 15px;
	padding: 0;
}
div.menuButton:hover {
	border-bottom: thick solid #3EC7C5;
}
.verticalLine {
	display: inline-block;
	padding: 10px 0px 10px 2px;
	height: 60px;
}
.bodyContent {
	display: inline-block;
	height: 100%;
}
span.class {
	color: #2055B0;	/* Dark blue */
	font-style: italic;
	font-weight: bold;
}
span.var {
	color: #F6D177;	/* Light orange */
}
span.method {
	color: #96F04F;	/* Yellowish-Green */
}
.tdHeading {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	width: 50%;
}
a.headingLink {
	color: #000000;
	text-decoration: none;
}
.headingLink:hover {
	color: #52DFFF;
}
.ulMenu {
	padding: 0;
	margin: 0 0 5px 0;
}
.jdoc_ulMenu {
	padding: 0 0 0 15px;
	margin: 0 0 5px 0;
}
.jdocLinks {
	padding-left: 10px;
	color: #9AE3B9;
	font-family: 'Georgia', serif;
	font-size: 100%;
	font-style: italic;
}
.jdocLinks:hover {
	color: #3EC7C5;
}
.menuLinks {
	padding-left: 10px;
	color: #B0D9EB;
	font-family: 'Georgia', serif;
	font-size: 100%;
	font-style: italic;
}
.menuLinks:hover {
	color: #EBCF7C;
}
.selectedMenu {
	color: #96F04F;
}
.submenuHeading {
	text-decoration: none;
}
.selectedSubmenu {
	color: #EBCF7C;
}
.selected_jdocMenu {
	color: #3EC7C5;
}
.submenuHeading:hover {
	color: #96F04F;
}
div.selectedMenu {
	border-bottom: thick solid #3EC7C5;
}
.downloadLink {
	font-family: 'Georgia', serif;
	font-size: 100%;
	display: inline-block;
	color: #38DCF5;
	background-color: #005B8C;
	border: 3px solid #140D91;
	text-decoration: none;
	border-radius: 10px;
}
.downloadLink:hover {
	color: #000000;
	background-color: #4FB0F0;
	text-decoration: none;
}
#banner {
	background: -webkit-linear-gradient(60deg, #0C4057, #4B97B8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(60deg, #0C4057, #4B97B8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(60deg, #0C4057), #4B97B8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(60deg, #0C4057, #4B97B8); /* Standard syntax */
	height: 115px;
 }
#bannerTitle {
	display: inline-block;
}
#bannerName {
	display: block;
	padding: 0px;
	margin: 15px 45px 0px 30px;
}
#bannerDogwood {
	display: block;
	padding: 0px;
	margin: -8px 15px 0px 35px;
}
#bannerMenu{
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}
#indexBanner {
	text-decoration: none;
}
#boldLine {
	border-left: thick solid #FFFFFF;
}
#regLine {
	border-left: medium double #FFFFFF;
}
#container {
	width: calc(100% - 20px);			/* Internet Explorer */
	width: -o-calc(100% - 20px); 		/* Opera */
	width: -webkit-calc(100% - 20px); 	/* Google, Safari */
	height: -moz-calc(100% - 20px); 	/* Firefox */
	height: calc(100% - 165px);			/* Internet Explorer */
	height: -o-calc(100% - 165px); 		/* Opera */
	height: -webkit-calc(100% - 165px); /* Google, Safari */
	height: -moz-calc(100% - 165px); 	/* Firefox */
	margin: 0;
	padding: 10px;
}
#mainBody {
	width: calc(100% - 225px);			/* Internet Explorer */
	width: -o-calc(100% - 225px); 		/* Opera */
	width: -webkit-calc(100% - 225px); 	/* Google, Safari */
	width: -moz-calc(100% - 225px); 	/* Firefox */
	background-color: #26B59D;
	vertical-align: middle;
	margin-right: 10px;
	padding: 15px;
	overflow: auto;
}
#sidebar {
	width: 150px;
	background-color: #4A616B;
	vertical-align: middle;
	padding: 15px;
	margin: 0;
}